body {
  background-color: black;
  color: white;
  margin: 0px;
  background-image: linear-gradient(to right bottom, #2d2d2f, #383a3c, #454849, #535655, #636461);
  min-height: 100vh;
  padding: 0px;
}


